version: '3'

services:

  # ----- glowing-bear -----
  glowing-bear:
    container_name: ${INSTANCE_ID:?Please configure INSTANCE_ID}-glowing-bear
    image: thehyve/glowing-bear:2.0.7
    ports:
      - ${GLOWING_BEAR_PORT:-9080}:9080
    environment:
      TRANSMART_API_SERVER_URL: /api/transmart-api-server
      TRANSMART_PACKER_URL: /api/transmart-packer
      GB_BACKEND_URL: /api/gb-backend
      KEYCLOAK_SERVER_URL: ${KEYCLOAK_SERVER_URL:?Please configure KEYCLOAK_SERVER_URL}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM:?Please configure KEYCLOAK_REALM}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID:?Please configure KEYCLOAK_CLIENT_ID}
      DENY_ACCESS_WITHOUT_ROLE: ${DENY_ACCESS_WITHOUT_ROLE:-false}
      NGINX_HOST: localhost
      NGINX_PORT: 9080
      CHECK_SERVER_STATUS: 'true'
    depends_on:
      - gb-backend
      - transmart-api-server
      - transmart-packer
    networks:
      - nginx-proxy-network
    restart: unless-stopped
    logging:
      driver: ${DOCKER_LOGGING_DRIVER:-journald}
      options:
        labels: application
        tag: glowing-bear

  # ----- gb-backend + db -----
  gb-backend-database:
    container_name: ${INSTANCE_ID:?Please configure INSTANCE_ID}-gb-backend-database
    image: postgres:11-alpine
    environment:
      POSTGRES_USER: gb
      POSTGRES_PASSWORD: gb
      POSTGRES_DB: gb_backend
    volumes:
      - gb-backend-db-data:/var/lib/postgresql/data
    networks:
      - gb-backend-db-network
    restart: unless-stopped
    logging:
      driver: ${DOCKER_LOGGING_DRIVER:-journald}
      options:
        labels: application
        tag: gb-backend-database

  gb-backend:
    container_name: ${INSTANCE_ID:?Please configure INSTANCE_ID}-gb-backend
    image: thehyve/glowing-bear-backend:1.0.2
    environment:
      TRANSMART_API_SERVER_URL: http://transmart-api-server:8081
      KEYCLOAK_SERVER_URL: ${KEYCLOAK_SERVER_URL:?Please configure KEYCLOAK_SERVER_URL}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM:?Please configure KEYCLOAK_REALM}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID:?Please configure KEYCLOAK_CLIENT_ID}
      DB_USER: gb
      DB_PASSWORD: gb
      DB_HOST: gb-backend-database
      DB_PORT: 5432
      DB_NAME: gb_backend
    depends_on:
      - gb-backend-database
      - transmart-api-server
    networks:
      - gb-backend-db-network
      - nginx-proxy-network
    restart: unless-stopped
    logging:
      driver: ${DOCKER_LOGGING_DRIVER:-journald}
      options:
        labels: application
        tag: gb-backend
    volumes:
      - ./ssl/extra_certs.pem:/home/gb_backend_usr/extra_certs.pem

  # ----- transmart-api-server + db -----
  transmart-database:
    container_name: ${INSTANCE_ID:?Please configure INSTANCE_ID}-transmart-database
    image: thehyve/pg_bitcount:11
    ports:
      - ${TRANSMART_DATABASE_PORT:-9432}:5432
    environment:
      POSTGRES_USER: biomart_user
      POSTGRES_PASSWORD: biomart_user
      POSTGRES_DB: transmart
    volumes:
      - transmart-db-data:/var/lib/postgresql/data
    networks:
      - transmart-db-network
    restart: unless-stopped
    logging:
      driver: ${DOCKER_LOGGING_DRIVER:-journald}
      options:
        labels: application
        tag: transmart-database

  transmart-api-server:
    container_name: ${INSTANCE_ID:?Please configure INSTANCE_ID}-transmart-api-server
    image: thehyve/transmart-api-server:17.2.4
    environment:
      KEYCLOAK_SERVER_URL: ${KEYCLOAK_SERVER_URL:?Please configure KEYCLOAK_SERVER_URL}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM:?Please configure KEYCLOAK_REALM}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID:?Please configure KEYCLOAK_CLIENT_ID}
      DENY_ACCESS_WITHOUT_ROLE: ${DENY_ACCESS_WITHOUT_ROLE:-false}
      PGHOST: transmart-database
      PGPORT: 5432
      PGDATABASE: transmart
    depends_on:
      - transmart-database
    networks:
      - transmart-db-network
      - nginx-proxy-network
    restart: unless-stopped
    logging:
      driver: ${DOCKER_LOGGING_DRIVER:-journald}
      options:
        labels: application
        tag: transmart-api-server
    volumes:
      - ./ssl/extra_certs.pem:/home/transmart/extra_certs.pem

  # ----- transmart-packer -----
  redis:
    container_name: ${INSTANCE_ID:?Please configure INSTANCE_ID}-transmart-packer-redis
    image: redis:alpine
    command: ["redis-server", "--appendonly", "yes"]
    hostname: redis
    volumes:
      - redis-data:/data
    networks:
      - packer-redis-network
    restart: unless-stopped
    logging:
      driver: ${DOCKER_LOGGING_DRIVER:-journald}
      options:
        labels: application
        tag: redis

  transmart-packer:
    container_name: ${INSTANCE_ID:?Please configure INSTANCE_ID}-transmart-packer
    image: thehyve/transmart-packer:0.2.1
    command: ['transmart-packer']
    depends_on:
      - redis
      - transmart-api-server
    links:
      - redis
    environment:
      TRANSMART_URL: http://transmart-api-server:8081
      KEYCLOAK_SERVER_URL: ${KEYCLOAK_SERVER_URL:?Please configure KEYCLOAK_SERVER_URL}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM:?Please configure KEYCLOAK_REALM}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID:?Please configure KEYCLOAK_CLIENT_ID}
      CLIENT_ORIGIN_URL: '*'
    networks:
      - nginx-proxy-network
      - packer-redis-network
    volumes:
      - export-data:/app/tmp_data_dir
      - ./ssl/extra_certs.pem:/ssl/certs.pem
    restart: unless-stopped
    logging:
      driver: ${DOCKER_LOGGING_DRIVER:-journald}
      options:
        labels: application
        tag: transmart-packer

  transmart-packer-worker:
    container_name: ${INSTANCE_ID:?Please configure INSTANCE_ID}-transmart-packer-worker
    image: thehyve/transmart-packer:0.2.1
    command:  ['celery', '-A', 'packer.tasks', 'worker', '-c', '4', '--loglevel', 'info']
    depends_on:
      - redis
      - transmart-api-server
    links:
      - redis
    environment:
      TRANSMART_URL: http://transmart-api-server:8081
    networks:
      - nginx-proxy-network
      - packer-redis-network
    volumes:
      - export-data:/app/tmp_data_dir
      - ./ssl/extra_certs.pem:/ssl/certs.pem
    restart: unless-stopped
    logging:
      driver: ${DOCKER_LOGGING_DRIVER:-journald}
      options:
        labels: application
        tag: transmart-packer-worker

volumes:
  gb-backend-db-data:
  transmart-db-data:
  redis-data:
  export-data:

networks:
  gb-backend-db-network:
    driver: bridge
  transmart-db-network:
    driver: bridge
  nginx-proxy-network:
    driver: bridge
  packer-redis-network:
    driver: bridge
